<!-- design create and edit  -->
<div>

  <div class="row">

    <div class="col-xs-6 col-md-3">
      <div id="designName"></div>
      <%unless @design.name.present?%>
        <input type="Design name" placeholder="Design name" id="setDesignName" class="form-control"></input>

      <%end%>

</div>
    <div class="col-xs-12 col-sm-6 col-md-9">

      <button type="button" id="saveDBButton" class="btn btn-primary outline" >Save edits</button>

      <button id="delete" class="btn btn-primary outline" >Delete selected object</button>

      <br>
      <div id='saveStatus'>  </div>
      <br>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3 tool">

  <div class="toolkit">

  <div class="img-rounded">

    <!-- toolbar -->
      <!-- iterate over flourishes DB by category name -->
    <div class="tab">
      <% @flourishes.each do |catname, _| %>
      <button class="tablinks btn-xs" onclick="openFlourish(event, '<%= catname %>')"><%= catname.upcase_first %></button>
      <% end %>
    </div>


    <div class="flourishes">

      <% @flourishes.each do |catname, flourishes| %>
      <div id="<%= catname %>" class="tabcontent">
        <% flourishes.each do |f| %>
        <%= (cl_image_tag "http://res.cloudinary.com/michelleerica/image/upload/w_85/#{f.location_storage}.png", :id => f.id, public_id: f.name, class: 'flourish'  )%>
        <% end %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-primary outline" ><%= link_to 'Back', :back, class:'noLink warn' %></button>

  </div>
  <!-- <br> -->

    <!-- blank canvas - generated in main.js file  -->
    <div class="col-xs-12 col-sm-6 col-md-9">
        <canvas id="mainCanvas" width="850" height="500" class="center-block" designId="<%=@design_id%>"></canvas>

      <br>

      <div class="baseButton">
        <button type="button" id="saveClButton" class="btn btn-primary outline" >Finalise</button>

        <button type="button" id="saveDesktopButton" class="btn btn-primary outline" >Save to desktop</button>

        <% if @design.id.present? %>
          <button type="button" class="btn btn-primary outline" >
            <%=link_to 'Delete design', design_path(@design.id), method: :delete, data: { confirm: 'Are you sure?' }, class:'noLink' %></button>
        <%end%>
      </div>
    </div>
    </div>
  </div>

  <div class="hidden">
    <%= cl_image_upload_tag(:design_id, :resource_type => :image, :html => {:class => "hidden_file", :id => 'image_upload'}) %>
  </div>
  <br>
