
<div>

  <div class="row">

    <div class="col-xs-12 col-md-10">

      Design Name:
      <input type="Design name" placeholder="design name" id="designName">

      <button type="button" id="saveClButton" class="btn btn-default" >Publish</button>

      <button type="button" id="saveDesktopButton" class="btn btn-default" >Save canvas to desktop</button>

      <button type="button" id="saveDBButton" class="btn btn-default" >Save edits</button>

      <button type="button" id="updateDBButton" class="btn btn-default" >Update edits</button>

      <button id="delete" class="btn btn-default" >Delete selected object</button>

      <div id="designName"><%=@design.name%></div>

      <div id='saveStatus'>Status</div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-2">


  <div class="img-rounded">

    <!-- toolbar -->

    <div class="tab">
      <% @flourishes.each do |catname, _| %>
      <button class="tablinks btn-xs" onclick="openFlourish(event, '<%= catname %>')"><%= catname.upcase_first %></button>
      <% end %>
    </div>
    <div class="flourishes">

      <% @flourishes.each do |catname, flourishes| %>
      <div id="<%= catname %>" class="tabcontent">
        <% flourishes.each do |f| %>
        <%= (cl_image_tag "http://res.cloudinary.com/michelleerica/image/upload/w_30/#{f.location_storage}.png", :id => f.id, public_id: f.name  )%>
        <% end %>
      </div>
      <% end %>


    </div>
  </div>

  </div>
  <!--  -->
    <div class="col-xs-12 col-sm-6 col-md-9">
        <canvas id="mainCanvas" width="1000" height="600" class="center-block" designId="<%=@design_id%>"></canvas>

    </div>
  </div>


<%= form_for(design) do |f| %>
  <% if design.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(design.errors.count, "error") %> prohibited this design from being saved:</h2>

      <ul>
      <% design.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="hidden">
    <%= cl_image_upload_tag(:design_id, :resource_type => :image, :html => {:class => "hidden_file", :id => 'image_upload'}) %>
  </div>



<% end %>
