<%= form_for(design) do |f| %>
  <% if design.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(design.errors.count, "error") %> prohibited this design from being saved:</h2>

      <ul>
      <% design.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <button type="button" name="TEST" id="saveClButton" class="btn btn-default" >Publish</button>

  <button type="button" name="TEST" id="saveDesktopButton" class="btn btn-default" >Save canvas to desktop</button>

  <button type="button" name="TEST" id="saveDBButton" class="btn btn-default" >Save edits</button>


  <div id='saveStatus'>Status</div>

  <div class="field hidden">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  Design Name:
  <input type="Design name" placeholder="design name" id="designName">

  <div class="actions hidden">
    <%= f.submit %>
  </div>


  <div id="b"><p>draw a circle</p></div>
  <button id="delete" class="btn btn-default" >Delete selected object(s)</button>
    <!-- canvas -->
    <canvas id="mainCanvas" width="1000" height="600" class="center-block" designId="<%=@design_id%>"></canvas>

    <br>
    <br>
    <!--generate flourishes from DB  -->
    <div class="row flourishes img-rounded img-responsive">
      <div class="col-xs-12 col-sm-6 col-md-8 ">
      <%@flourishes.each do |f|%>
        <% location = "http://res.cloudinary.com/michelleerica/image/upload/h_30/#{f.location_storage}.png"%>
        <%= (cl_image_tag location, :id => f.id, public_id: f.name  )%>
      <%end%>

      </div>
    </div>

  <div class="hidden">
    <%= cl_image_upload_tag(:design_id, :resource_type => :image, :html => {:class => "hidden_file", :id => 'image_upload'}) %>
  </div>



<% end %>
