
<div class="container">
  <h1>Editing Design</h1>

  <%= render 'form', design: @design %>

  <%= link_to 'Delete', design_path(@design), method: :delete, data: { confirm: 'Are you sure?' } %> ||
  <%= link_to 'Your designs', @design %> |
  <%= link_to 'Back', designs_path %>

</div>


 <script>
  var elements = <%= raw @design.elements.to_json(include: :flourish) %>;
  var designData = <%= raw @design.to_json %>;
 </script>
