<div class="container">


  <p id="notice"><%= notice %></p>

  <h1>Designs</h1>

  <h1>Published designs:</h1>
  <div class="row">

    <% @published_designs.each do |d| %>
      <% url = "http://res.cloudinary.com/michelleerica/image/upload/h_120/#{d.image}.png" %>
        <div class="col-md-3">
          <div class="card" style="width: 25rem;">

            <%= link_to (cl_image_tag url), design_path(d.id),:class => 'card-img-top img-thumbnail'%>
            <div class="card-block">
              <h4 class="card-title"><%=d.name%> by <%=d.user.name%></h4>
            </div>
          </div>
      </div>
    <%end%>
  </div>

  <br>
  <br>

  <%= link_to 'New Design', new_design_path %>

</div>
