<div class="container">

<p id="notice"><%= notice %></p>

<h1>Published designs:</h1>
<div class="row">

<% @published_designs.each do |d| %>
    <% url = "http://res.cloudinary.com/michelleerica/image/upload/h_120/#{d.image}.png" %>
<div class="col-md-3">
  <div class="card" style="width: 30rem;">

    <%= link_to (cl_image_tag url), design_path(d.id),:class => 'card-img-top img-thumbnail'%>
    <!-- <img class="" src="..." alt="Card image cap"> -->
    <div class="card-block">
      <h4 class="card-title">USERNAME:<%=d.user.name%></h4>
      <p class="card-text">TITLE</p>
      <td><%= link_to 'Delete', design_path(d), method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </div>
  </div>
  </div>
<%end%>
</div>
<h1>Designs in progress:</h1>
  <ul class="list-group">
    <div class="row">

  <% @unpublished_designs.each do |d| %>
    <div class="col-md-2">
      <li class="list-group-item">
      <%= link_to d.name, edit_design_path(d), class:'noLink' %>
    </li>
  </div>
  <%end%>

    </div>
  </ul>
</div>
