<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>


<div>
  Published designs:
  <% @published_designs.each do |d| %>
      <% url = "http://res.cloudinary.com/michelleerica/image/upload/h_30/#{d.image}.png" %>
      <%= link_to (cl_image_tag url), design_path(d.id),:class => 'img-thumbnail'  %>
      <%end%>
</div>
<div>
  Designs in progress:
  <% @unpublished_designs.each do |d| %>

      <%= link_to (d.name ||d.id), edit_design_path(d.id),:class => 'img-thumbnail'  %>
      <%end%>

</div>





<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

</div>
